h1 {
    text-align: center;
}

#input1 {
    font-size: x-large;
    color: hotpink;
}

#input2 {
    font-size: x-large;
    color: maroon;
    text-align: center;
    background-color: mediumturquoise;
}

#input3 {
    font-size: x-large;
    color: slateblue;
}

#c1 {
    width: 100px;
    text-align: center;
    color: greenyellow;
    background-color: black;
    margin: 20px 20px 20px 20px;
    border-width: 10px;
    border-style: solid;
    border-color: gold;
}

#c2 {
    display: none;
}